NEXT_PUBLIC_API_URL="https://cali-similar-semipendulously.ngrok-free.dev/api"
NEXT_PUBLIC_IMG_URL="https://cali-similar-semipendulously.ngrok-free.dev/storage"
Next_PUBLIC_VIDEO_URL="https://cali-similar-semipendulously.ngrok-free.dev"